<div class="panel panel-default">
    <div class="panel-heading">
        <h1><b>{{ contact.name }}</b></h1>
        <img src="{{ contact.imageUrl }}" alt="Picture of {{ contact.name }}">
        <div style="margin-top: 15px;">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="panel-body">
        <p><b>Email: </b>{{ contact.email }}</p>
        <p><b>Phone: </b>{{ contact.phone }}</p>
    </div>
</div>
